.navbar{
    text-align: center;
    margin-top: 2em;
    color: white;
}

button{
    margin-right: 8px;
    margin-left: 8px;
    height: 40px;
    width: 8em;
    font-size: 1rem;
    background-color: rebeccapurple;
    border-radius: 14px;
    color: white;
}

button:hover{
    background-color: turquoise;
    border-color: rebeccapurple;

}