*{
    margin: -8px;
    padding: 0;
}

.bar{
    font-size: 4rem;
    text-align: center;
    background-color: turquoise;
    color: rebeccapurple;
    border-bottom: solid rebeccapurple 4px;
    font-family: cursive;
}